* {
  margin: 0;
}

h1 {
  padding-top: 10%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2rem;
}

.first {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #a8c0ff;
  margin: auto;
  width: 50%;
  border: 3px solid #59c173;
  padding: 50px;
  border-radius: 0.5rem;
}

body {
  background-color: bisque;
}
.log {
  margin: auto;
}

.input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.field {
  border: none;
}

.button {
  margin: 1.2rem;
  width: 40%;
  background-color: #ad5389;
  border-radius: 0.75rem;
}
